.loading {
  background: #f3ebe1;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;

    @media (min-width: 1024px) {
      align-items: inherit;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      grid-gap: 20px;
      gap: 20px;
    }
    @media (min-width: 1440px) {
      gap: 60px;
      grid-gap: 60px;
    }
  }
}
